#hidden{
  display: none;
  text-align: center;
}
/*.form-group{
  padding: 20px 30px;
}*/

.checkbox{
  margin-left: 35px;
}

h1, h2, h3{
  font-size: 12px;
  text-align: center;
}

.survey{
  margin: 10px 8%;
}

.btn{
  padding: 10px 50px;
  margin: 10px 25%;
}
