#hidden{
  display: none;
  text-align: center;
  float:right;
  border: pink solid 2px;
  border-radius: 10px;
  background-color: #d2eaff;
}
#hidden p{
  font-size: 18px;
}
.text{
  margin-top: 20px;
  float:left;
}
.form-group{
  padding: 20px 10px;
}

.checkbox{
  margin-left: 35px;
}

h1, h2, h3{
  /*font-size: 12px;*/
  text-align: center;
}

/*.survey{
  margin: 10px 8%;
}*/

.btn{
  padding: 10px 30px;
  margin: 10px 5%;
}
